.description {
  font-size: 1.8em;
  font-weight: bold;
  opacity: 0;
  transform: translateX(-50%);
  animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromLeft {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.text-container {
  flex: 1;
  text-align: center;
}




.col {
  flex: 1;
}

/* ============ CTA ============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;

}

/* ============ Social Icons ============ */

.header-socials {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  position: absolute;
  left: 11rem;
  bottom: 1rem;

}

.header-socials a {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--color-primary);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header-socials a:hover {
  transform: scale(1.2);
  opacity: 0.7;
  animation: flash 1.5s infinite;
}

@keyframes flash {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}

/* .header-socials:after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
    margin-left: 6px;

} */

/* ============ me============ */
.me {
  max-width: 100%;
  height: auto;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1.5rem;
  text-align: center;
}

.me img {
  width: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.img-container {
  border: 2px solid rgb(81, 81, 81);
  
  border-radius: 20px;
  
}

.img-container:hover img {
  transform: scale(1.1);
}

.animate {
  font-size: 40px;


}

.animate span {
  display: inline-block;
}

.animate-container {
  width: 100%;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;

}


.four span {
  color: var(--color-white);
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop .3s forwards;
}


@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0, 20px) scale(.8) rotate(0deg);
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

.animate span:nth-of-type(2) {
  animation-delay: .06s;
}

.animate span:nth-of-type(3) {
  animation-delay: .1s;
}

.animate span:nth-of-type(4) {
  animation-delay: .15s;
}

.animate span:nth-of-type(5) {
  animation-delay: .2s;
}

.animate span:nth-of-type(6) {
  animation-delay: .25s;
}

.animate span:nth-of-type(7) {
  animation-delay: .3s;
}

.animate span:nth-of-type(8) {
  animation-delay: .35s;
}

.animate span:nth-of-type(9) {
  animation-delay: .4s;
}

.animate span:nth-of-type(10) {
  animation-delay: .45s;
}

.animate span:nth-of-type(11) {
  animation-delay: .5s;
}

.animate span:nth-of-type(12) {
  animation-delay: .55s;
}

.animate span:nth-of-type(13) {
  animation-delay: .6s;
}

.animate span:nth-of-type(14) {
  animation-delay: .65s;
}

.animate span:nth-of-type(15) {
  animation-delay: .7s;
}

.animate span:nth-of-type(16) {
  animation-delay: .75s;
}

.animate span:nth-of-type(17) {
  animation-delay: .8s;
}

.animate span:nth-of-type(18) {
  animation-delay: .85s;
}

.animate span:nth-of-type(19) {
  animation-delay: .9s;
}

.animate span:nth-of-type(20) {
  animation-delay: .95s;
}


/* ============ Scrool down ============ */

.scroll-down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (min-width: 769px) {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .text-container {
    flex: 1;
    text-align: center;
  }

  .image-container {
    flex: 1;
    text-align: center;
  }

  .me {
    max-width: 100%;
    height: auto;

    overflow: hidden;
    padding: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .me img {
    width: 100%;
    max-width: 100%;
    border-radius: 10%;
    transition: transform 0.3s ease;
  }

  .img-container:hover img {
    transform: scale(1.1);
  }
}


@media screen and (max-width: 768px) {
  .content {
    display: block;
    padding-top: 20px;
  }

  .header-socials {
    width: fit-content;
    right: -10rem;
    bottom: 1rem;
    padding: 0;


  }

  .header-socials a {
    font-size: 0.9rem;

  }

  .text-container,
  .image-container {
    width: 100%;
    text-align: center;
  }

  .me {
    border-radius: 0;

  }

  .me img {
  
    padding-top: 2rem;
    margin: auto;
  }
}